	<hr>
	<footer>
		<p>&copy; Zeletochoy 2014</p>
	</footer>
</div>
  
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
